@model AspCrawler.Models.Category

@{
    ViewData["Title"] = "Create Category";
}

<h1>Create Category</h1>

<form method="post">
    <div class="form-group">
        <label for="Title">Category Title</label>
        <input type="text" class="form-control" id="Title" name="Title" value="@Model.Title" required />
    </div>
    <div class="form-group">
        <label for="Description">Category Description</label>
        <textarea class="form-control" id="Description" name="Description">@Model.Description</textarea>
    </div>

    <button type="submit" class="btn btn-primary">Create Category</button>
    <a href="@Url.Action("Index", "Category")" class="btn btn-secondary">Cancel</a>
</form>
