@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "Access Denied";
}

<h1>دسترسی غیرمجاز</h1>
<p>شما مجاز به دسترسی به این بخش از سایت نیستید.</p>
<a href="@Url.Action("Index", "Home")" class="btn btn-primary">بازگشت به صفحه اصلی</a>

