@{
    ViewData["Title"] = "Run Program";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Run External Program</h1>

@if (TempData["Message"] != null)
{
    <div style="color: green; margin-bottom: 10px;">
        @TempData["Message"]
    </div>
}

<form asp-action="RunProgram" asp-controller="Crawl" method="post">
    <button type="submit" class="btn btn-primary">Run Program</button>
</form>
